docs/audio_sources/super_events/*.flac filter=lfs diff=lfs merge=lfs -text
docs/audio_sources/super_events/*.ogg filter=lfs diff=lfs merge=lfs -text
sound/*.wav filter=lfs diff=lfs merge=lfs -text
music/
[[:space:]][[:space:]]*.ogg filter=lfs diff=lfs merge=lfs -text
